<ion-content [fullscreen]="true">
<!-- <ion-header class="container"> -->
  <div class="container">
    <div class="profile-info">
      <div class="container-img" style="display: flex; justify-content: center; align-items: center;">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="profile-pic">
      </div>    
      <h3 style="text-align: center;">{{this.estudiantes[0].nombre}}</h3>
      <p style="text-align: center;">{{this.estudiantes[0].ano}}</p>
      <p style="text-align: center;">{{estudiantes[0].cedula}}</p>
    </div>
  
    <div class="container-info" style="display: flex;">
      <div class="followers" style="margin: 10px;">
        <p style="text-align: center;">{{this.estudiantes[0].materias.length}}</p>
        <p>MATERIAS</p>
      </div>

      <div class="following" style="margin: 10px;">
          <p style="text-align: center;">8.0</p>
          <p>PROMEDIO</p>
      </div>
      <div class="post-info" style="margin: 10px;">
          <p style="text-align: center;">15</p>
          <p>EDAD</p>
      </div>

    </div>
  </div>



  <div class="form__group field">
    <input type="input" class="form__field" placeholder="Email" required="" autocomplete="off">
    <label for="Email" class="form__label">cvillamarinutpl.edu.ec</label>
  </div>
  <div class="form__group field">
    <input type="input" class="form__field" placeholder="Username" required=""  autocomplete="off">
    <label for="Username" class="form__label">villa</label>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Calificaciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table>
        <tr>
          <th>Materia</th>
          <th>Primer Bimestre</th>
          <th>Segundo Bimestre</th>
        </tr>
        <tr *ngFor="let materia of estudiantes[0].materias">
          <td style="text-align: center; line-height: 25px; padding: 8px;">{{materia}}</td>
          <td style="text-align: center; line-height: 10px; padding: 8px;">8</td>
          <td style="text-align: center; line-height: 10px; padding: 8px;">8</td>
        </tr>
       
      </table>
    </ion-card-content>
    
  </ion-card>
</ion-content>


  

