<ion-content class="contenedor">
  <body>
    <div class="box">
      <span class="borderLine"></span>
      <form>
        <ion-img src="assets/logoMarista2.png"></ion-img>
        <h2>Sign in</h2>
        <div class="inputBox">
          <input type="text" required="required" name="cedula" [(ngModel)]="cedula">
          <span>Cédula</span>
          <i></i>
        </div>
        <div class="inputBox">
          <input type="password" required="required" name="password" [(ngModel)]="password">
          <span>Contraseña</span>
          <i></i>
        </div>
        <input type="submit" value="Login" (click)="redirectToHome()">
      </form>
    </div>
  </body>
</ion-content>