<ion-header class="contenedorTittle">
  <ion-toolbar class="miniCont">
    <h3 text-center>Mis clases</h3>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar> </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-select label="Año Academico" label-placement="floating" fill="outline">
      <ion-select-option value="apple">2023 - 2024</ion-select-option>
      <ion-select-option value="banana">2022 - 2023</ion-select-option>
      <ion-select-option value="orange">2021 - 2022</ion-select-option>
    </ion-select>
  </ion-item>

  <!--Datos del estudiante-->
  <ion-list [inset]="true">
    <ng-container *ngFor="let estudiante of estudiantes">
      <ng-container
        *ngFor="let caracteristica of ['nombre', 'cedula', 'ano', 'codigo', 'especialidad']"
      >
        <ion-item>
          <ion-icon
            [color]="getIconoColor(caracteristica)"
            slot="start"
            [name]="getIconoNombre(caracteristica)"
            size="large"
          ></ion-icon>
          <ion-label>{{ estudiante[caracteristica] }}</ion-label>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>
  <!--Cierra Datos del estudiante-->

  <!--Materias del estudiante-->
  <ion-list [inset]="true">
    <ion-item *ngFor="let materia of materias" [button]="true" detail="false">
      <div class="unread-indicator-wrapper" slot="start">
        <ion-icon
          color="primary"
          slot="icon-only"
          name="school-outline"
          size="large"
        ></ion-icon>
      </div>
      <ion-label>
        <ion-text><strong>{{ materia }}</strong></ion-text>
        <div class="ion-text-wrap">
          <ion-note color="medium">
            <strong>Profesor/a:</strong> Nombre Docente <br />
            <strong>Modalidad:</strong> Presencial<br />
            <strong>Horas Semanales:</strong> 8
          </ion-note>
        </div>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
  <!--Cierra Materias del estudiante-->
</ion-content>
